@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html {
  font-family: Lato, Helvetica, Arial, sans-serif; /* match Canvas LMS Fonts */
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1,
h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 12px;
}

.container,
.main {
  width: 100%;
  padding: 0;
  margin: 0;
}

.responsive-table-markdown {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.responsive-table-markdown > table {
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

.two-column-instructions-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  grid-gap: 0px;
}

.two-column-instructions-grid > * {
  border-top: 1px solid red;
}
