<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>

    {{ partial "header.html" . }}
    <div class="container-fluid">
        <main class="row" id="main">
            <div class="col">
                {{ block "main" . }}{{ end }}
            </div>
        </main>
    </div>
    {{ partial "script.html" . }}
    <script>

        parent.postMessage(JSON.stringify({ subject: 'lti.frameResize', height: document.documentElement.scrollHeight + "px" }), '*');
        console.log(document.documentElement.scrollHeight);

    </script>
</body>

</html>